// Color palette
$gg-gold: #fcb420;
$gg-gray: #818182;

$gg-green: #45BF55;
$gg-red: #f0515a;

$gray-dark: #413f41;
$gray-medium: #808183;
$gray-light: #ccc;

$color-1: #f0515a;
$color-2: #00b4aa;
$color-3: #545487;
$color-4: #f36b23;
$color-5: #00acc8;

// Backgrounds
.bg--white {background-color: white;}
.bg--trans-dark-1 {background-color: rgba(0,0,0,0.8);}

.bg--gray-dark {background-color: $gray-dark;}
.bg--gray-medium {background-color: $gray-medium;}
.bg--gray-light {background-color: $gray-light;}

.bg--color-1 {background-color: $color-1;}
.bg--color-2 {background-color: $color-2;}
.bg--color-3 {background-color: $color-3;}
.bg--color-4 {background-color: $color-4;}
.bg--color-5 {background-color: $color-5;}

// Borders
.border-color-1 {border-color: $color-1;}
.border-color-2 {border-color: $color-2;}
.border-color-3 {border-color: $color-3;}
.border-color-4 {border-color: $color-4;}
.border-color-5 {border-color: $color-5;}
.border-color-green {border-color: $gg-green;}
.border-color-red {border-color: $gg-red;}

// Text
.text--white {color: white;}
.text--gray-medium {color: $gray-medium !important;}
.text--gray-light {color: $gray-light !important;}
.text--gg-gold {color: $gg-gold;}

.text--color-1 {color: $color-1;}
.text--color-2 {color: $color-2;}
.text--color-3 {color: $color-3;}
.text--color-4 {color: $color-4;}
.text--color-5 {color: $color-5;}

.text--uppercase {text-transform: uppercase;}

.-text-center--sm {
  @media (max-width: 767px) {text-align: center;}
}

// Images
.img--full-width {
  max-width: 100%;
}

// Links
.no-underline {
  text-decoration: none !important;
}

// Corner-content
.gds-corner-content {
  z-index: 700;
}

.gds-corner-content__header {
  cursor: pointer;
}

// Component-specific theming
@import 'theme/_report-section';
@import 'theme/_home-grid';
