// Report section styles
.regional-comparison {
    border-left-width: 7px;
    border-left-style: solid;
    padding-left: 15px;
}

.regional-chart__list {
    position: relative;
}

.regional-chart__item {
    position: relative;
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 0 15px;
    margin-bottom: 2rem;

    @media (max-width: 767px) {
        width: 100%;
    }
}

.loading-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}

.regional-chart__item-score {
    font-family: "aspiraregular";
    position: relative;
    display: inline-block;
    margin: 0 auto;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    line-height: 31px;
    z-index: 100;
}

.tier-1-name {
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

[data-score-before]:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin-right: 10px;
}

// Colored by value
@for $i from 0 through 50 {
    [data-score="#{$i}"],
    [data-score-before="#{$i}"]:before {
        background-color: mix($gg-gold, $gg-red, $i * 2);
    }
}

@for $i from 51 through 100 {
    $inc: (($i - 50) * 2);

    [data-score="#{$i}"],
    [data-score-before="#{$i}"]:before {
        background-color: mix($gg-green, $gg-gold, $inc);
    }
}
